// ================================================
// framework
// ================================================

@import "framework/all";

// ================================================
// header
// ================================================

header {
	height: 85px;
}

// ================================================
// main
// ================================================

.banner {
	height: 500px;
	background-image: url(../img/banner.png);
	background-color: #000;
	background-position: 50%;
}

.container-inner {
	max-width: 900px;
	margin: 0 auto;
}

// ================================================
// footer
// ================================================